<!-- File contains HTML to show data on for admin option                                        
Author - Tejashri Joshi                                                                 
Date   - 12/12/2020                         -->                                                
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/addEvents">Add Events</a>
      <a class="nav-item nav-link" routerLink="/deleteEvent">Delete Events</a>
      
  </div>
</nav>