<!--  Author - Tejashri Joshi
 Date - 11-20-2020
 This file contains the html for the Home page -->
  <div  >
    <div class="alert alert-dismissible alert-secondary">
      <h3 style="text-align: center;">Introduction</h3>
      </div>
    <h2 style="text-align: center;">Network Function Virtualization (NFV) </h2>
  <h4 style="text-align: center;">It is an emerging paradigm that enables network operators to virtualize network hardware functions.
    Using NFV, typical physical network resources such as switches, firewalls, routers, among others can be managed or controlled as virtual network resources and therefore complementing existing cloud hardware resources
    <br> Find more details at https://en.wikipedia.org/wiki/Network_function_virtualization</h4>
  
  <h2 style="text-align: center;">UCNFV</h2>
  <h4 style="text-align: center;"> UCNFV is the User Centric approach that enables clients to selectively choose appropriate NFV services of interest.
                                   and shows Performance for selected VNF with for that provider.</h4>
  <h4 style="text-align: center;">Inputs - Required VNF with a provider from list, QoS attribute weights <br>
                                  Output - Performance Score of the slected VNF for that provider </h4>
  </div>