<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UCNFV</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="favicon.ico">

  
      
</head>
<body>

<h2 class="alert alert-dismissible alert-secondary" style="text-align: center;">Welcome to User Centric NFV Performance System(UCNFV)</h2>

  <app-root></app-root>
<script src="{{ url_for('static', filename='runtime.js') }}" defer></script><script src="{{ url_for('static', filename='polyfills.js') }}" defer></script><script src="{{ url_for('static', filename='styles.js') }}" defer></script><script src="{{ url_for('static', filename='vendor.js') }}" defer></script><script src="{{ url_for('static', filename='main.js') }}" defer></script></body>
</html>
